<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
              <h4 class="form-header text-uppercase">
                <i class="zmdi zmdi-view-list"></i>
                Add Address
              </h4>
              <div class="form-group row">
                <label for="ADDRESS_TYPE" class="col-sm-2 col-form-label"
                  >Address type</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ADDRESS_TYPE"
                    type="text"
                    placeholder="Enter your Address type"
                    class="form-control"
                    id="ADDRESS_TYPE"
                    name="ADDRESS_TYPE"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ADDRESS_TYPE.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ADDRESS_TYPE.errors">
                    <div *ngIf="f.ADDRESS_TYPE.errors.required">
                      Address Type is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ADDR_LINE1" class="col-sm-2 col-form-label"
                  >Address line 1</label
                >
                <div class="col-sm-10">
                  <input
                    placeholder="House No."
                    formControlName="ADDR_LINE1"
                    type="text"
                    class="form-control"
                    id="ADDR_LINE1"
                    name="ADDR_LINE1"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ADDR_LINE1.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ADDR_LINE1.errors">
                    <div
                      *ngIf="
                        f.ADDR_LINE1.errors.required &&
                        f.ADDR_LINE1.errors.minlength
                      "
                    >
                      Address line 1 is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ADDR_LINE2" class="col-sm-2 col-form-label"
                  >Address line 2</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ADDR_LINE2"
                    placeholder="Street No./Road No"
                    type="text"
                    class="form-control"
                    id="ADDR_LINE2"
                    name="ADDR_LINE2"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ADDR_LINE2.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ADDR_LINE2.errors">
                    <div *ngIf="f.ADDR_LINE2.errors.required">
                      Address line 2 is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ADDR_LINE3" class="col-sm-2 col-form-label"
                  >Address line 3</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ADDR_LINE3"
                    type="text"
                    placeholder="Locality"
                    class="form-control"
                    id="ADDR_LINE3"
                    name="ADDR_LINE3"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ADDR_LINE3.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ADDR_LINE3.errors">
                    <div *ngIf="f.ADDR_LINE3.errors.required">
                      Address line 3 is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ADDR_LINE4" class="col-sm-2 col-form-label"
                  >Addredd line 4</label
                >
                <div class="col-sm-10">
                  <input
                    placeholder="Landmark"
                    formControlName="ADDR_LINE4"
                    type="text"
                    class="form-control"
                    id="ADDR_LINE4"
                    name="ADDR_LINE4"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ADDR_LINE4.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ADDR_LINE4.errors">
                    <div
                      *ngIf="
                        f.ADDR_LINE4.errors.required &&
                        f.ADDR_LINE4.errors.minlength
                      "
                    >
                    ADDRESS LINE 4 is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="PIN" class="col-sm-2 col-form-label"
                  >Pin</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="PIN"
                    placeholder="Enter your Pin"
                    type="text"
                    class="form-control"
                    id="PIN"
                    name="PIN"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.PIN.errors
                    }"
                  />
                  <div *ngIf="submitted && f.PIN.errors">
                    <div *ngIf="f.PIN.errors.required">
                      Pin is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="CITY" class="col-sm-2 col-form-label"
                  >City</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="CITY"
                    type="text"
                    placeholder="Enter your  City"
                    class="form-control"
                    id="CITY"
                    name="CITY"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.CITY.errors
                    }"
                  />
                  <div *ngIf="submitted && f.CITY.errors">
                    <div *ngIf="f.CITY.errors.required">
                      City is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="STATE" class="col-sm-2 col-form-label"
                  >State</label
                >
                <div class="col-sm-10">
                  <input
                    placeholder="Enter your State"
                    formControlName="STATE"
                    type="text"
                    class="form-control"
                    id="STATE"
                    name="STATE"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.STATE.errors
                    }"
                  />
                  <div *ngIf="submitted && f.STATE.errors">
                    <div
                      *ngIf="
                        f.STATE.errors.required &&
                        f.STATE.errors.minlength
                      "
                    >
                      State is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="COUNTRY" class="col-sm-2 col-form-label"
                  >Country</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="COUNTRY"
                    placeholder="Enter your Country"
                    type="text"
                    class="form-control"
                    id="COUNTRY"
                    name="COUNTRY"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.COUNTRY.errors
                    }"
                  />
                  <div *ngIf="submitted && f.COUNTRY.errors">
                    <div *ngIf="f.COUNTRY.errors.required">
                      Countrty is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-footer">
                <button type="submit" class="btn btn-success">
                  <i class="zmdi zmdi-upload"></i> Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="assets/plugins/jquery-validation/js/jquery.validate.min.js"></script> -->
