<div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <h4 class="form-header text-uppercase">
                  <i class="zmdi zmdi-view-list"></i>
                  Add Shop
                </h4>
                <div class="form-group row">
                  <label for="SHOP_NAME" class="col-sm-2 col-form-label"
                    >Shop Name</label
                  >
                  <div class="col-sm-10">
                    <input
                      formControlName="SHOP_NAME"
                      type="text"
                      placeholder="Enter Shop Name"
                      class="form-control"
                      id="SHOP_NAME"
                      name="SHOP_NAME"
                      required
                      [ngClass]="{
                        'is-invalid': submitted && f.SHOP_NAME.errors
                      }"
                    />
                    <div *ngIf="submitted && f.SHOP_NAME.errors">
                      <div *ngIf="f.SHOP_NAME.errors.required">
                        ShopName is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="SHOP_TYPE" class="col-sm-2 col-form-label"
                    >Shop type</label
                  >
                  <div class="col-sm-10">
                    <input
                      maxlength="10"
                      placeholder="Enter Shop Type"
                      formControlName="SHOP_TYPE"
                      type="text"
                      class="form-control"
                      id="SHOP_TYPE"
                      name="SHOP_TYPE"
                      required
                      [ngClass]="{
                        'is-invalid': submitted && f.SHOP_TYPE.errors
                      }"
                    />
                    <div *ngIf="submitted && f.SHOP_TYPE.errors">
                      <div
                        *ngIf="
                          f.SHOP_TYPE.errors.required &&
                          f.SHOP_TYPE.errors.minlength
                        "
                      >
                        Shop type is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="SHOP_BRANCH" class="col-sm-2 col-form-label"
                    >Shop Branch</label
                  >
                  <div class="col-sm-10">
                    <input
                      formControlName="SHOP_BRANCH"
                      placeholder="Enter Shop Branch"
                      type="text"
                      class="form-control"
                      id="SHOP_BRANCH"
                      name="SHOP_BRANCH"
                      required
                      [ngClass]="{
                        'is-invalid': submitted && f.SHOP_BRANCH.errors
                      }"
                    />
                    <div *ngIf="submitted && f.SHOP_BRANCH.errors">
                      <div *ngIf="f.SHOP_BRANCH.errors.required">
                        Shop Branch is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-success">
                    <i class="zmdi zmdi-upload"></i> Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="assets/plugins/jquery-validation/js/jquery.validate.min.js"></script> -->
