<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
              <h4 class="form-header text-uppercase">
                <i class="zmdi zmdi-view-list"></i>
                Add Item
              </h4>
              <div class="form-group row">
                <label for="ITEM_BRAND" class="col-sm-2 col-form-label"
                  >Brand</label
                >
                <div class="col-sm-10">
                  <select
                    class="form-control"
                    formControlName="BRAND_NAME"
                    id="BRAND_NAME"
                  >
                    <option value="">Select Brand</option>
                    <option *ngFor="let b of brands" [value]="b.BRAND_NAME">
                      {{ b.BRAND_NAME }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_CAPACITY" class="col-sm-2 col-form-label"
                  >Capacity(In Liter)</label
                >
                <div class="col-sm-10">
                  <select
                    class="form-control"
                    formControlName="ITEM_CAPACITY"
                    id="ITEM_CAPACITY"
                  >
                    <option value="">Select Capacity</option>
                    <option *ngFor="let c of capacity" [value]="c.capcityName">
                      {{ c.capcityName }}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.ITEM_CAPACITY.errors">
                    <div *ngIf="f.ITEM_CAPACITY.errors.required">
                      Capacity is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_NAME" class="col-sm-2 col-form-label"
                  >Name</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_NAME"
                    placeholder="Enter Item Name"
                    type="text"
                    class="form-control"
                    id="ITEM_NAME"
                    name="ITEM_NAME"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ITEM_NAME.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ITEM_NAME.errors">
                    <div *ngIf="f.ITEM_NAME.errors.required">
                      Name is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_CODE" class="col-sm-2 col-form-label"
                  >ItemCode</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_CODE"
                    placeholder="Enter Item Code"
                    type="text"
                    class="form-control"
                    id="ITEM_CODE"
                    name="ITEM_CODE"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ITEM_CODE.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ITEM_CODE.errors">
                    <div *ngIf="f.ITEM_CODE.errors.required">
                      ItemCode is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_PRICE" class="col-sm-2 col-form-label"
                  >Actual Price</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_PRICE"
                    placeholder="Enter Item Price"
                    type="text"
                    class="form-control"
                    id="ITEM_PRICE"
                    name="ITEM_PRICE"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ITEM_PRICE.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ITEM_PRICE.errors">
                    <div *ngIf="f.ITEM_PRICE.errors.required">
                      Price is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_MRP" class="col-sm-2 col-form-label"
                  >MRP</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_MRP"
                    placeholder="Enter Item MRP"
                    type="text"
                    class="form-control"
                    id="ITEM_MRP"
                    name="ITEM_MRP"
                    required
                    [ngClass]="{ 'is-invalid': submitted && f.ITEM_MRP.errors }"
                  />
                  <div *ngIf="submitted && f.ITEM_MRP.errors">
                    <div *ngIf="f.ITEM_MRP.errors.required">
                      MRP is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_DISP_PRICE" class="col-sm-2 col-form-label"
                  >Display Price</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_DISP_PRICE"
                    placeholder="Enter Item Display Price"
                    type="text"
                    class="form-control"
                    id="ITEM_DISP_PRICE"
                    name="ITEM_DISP_PRICE"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ITEM_DISP_PRICE.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ITEM_DISP_PRICE.errors">
                    <div *ngIf="f.ITEM_DISP_PRICE.errors.required">
                      Disp_Price is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_DISCOUNT" class="col-sm-2 col-form-label"
                  >Discount</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_DISCOUNT"
                    placeholder="Enter Item Discount"
                    type="text"
                    class="form-control"
                    id="ITEM_DISCOUNT"
                    name="ITEM_DISCOUNT"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ITEM_DISCOUNT.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ITEM_DISCOUNT.errors">
                    <div *ngIf="f.ITEM_DISCOUNT.errors.required">
                      Discount is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_TYPE" class="col-sm-2 col-form-label"
                  >Item Type</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_TYPE"
                    placeholder="Enter Item Type"
                    type="text"
                    class="form-control"
                    id="ITEM_TYPE"
                    name="ITEM_TYPE"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ITEM_TYPE.errors
                    }"
                  />
                  <div *ngIf="submitted && f.ITEM_TYPE.errors">
                    <div *ngIf="f.ITEM_TYPE.errors.required">
                      ItemType is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ITEM_DESCRIPTION" class="col-sm-2 col-form-label"
                  >Description</label
                >
                <div class="col-sm-10">
                  <textarea
                    formControlName="ITEM_DESCRIPTION"
                    placeholder="Plase Write Discription "
                    class="form-control"
                    id="ITEM_DESCRIPTION"
                    name="ITEM_DESCRIPTION"
                    required
                    [ngClass]="{
                      'is-invalid': submitted && f.ITEM_DESCRIPTION.errors
                    }"
                  ></textarea>
                  <div *ngIf="submitted && f.ITEM_DESCRIPTION.errors">
                    <div *ngIf="f.ITEM_DESCRIPTION.errors.required">
                      Description is required
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="ITEM_TAX" class="col-sm-2 col-form-label">
                  Item Tax</label
                >
                <div class="col-sm-10">
                  <input
                    formControlName="ITEM_TAX"
                    placeholder="Enter Item Tax"
                    type="text"
                    class="form-control"
                    id="ITEM_TAX"
                    name="ITEM_TAX"
                    required
                    [ngClass]="{ 'is-invalid': submitted && f.ITEM_TAX.errors }"
                  />
                  <div *ngIf="submitted && f.ITEM_TAX.errors">
                    <div *ngIf="f.ITEM_TAX.errors.required">
                      ItemTax is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-success">
                  <i class="zmdi zmdi-upload"></i> Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--End Row-->
  </div>
</div>
<script src="assets/plugins/jquery-validation/js/jquery.validate.min.js"></script>
