<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumb-->
   <div class="row pt-2 pb-2">
      <div class="col-sm-9">
      <h4 class="page-title">My Profile</h4>
     
   </div>
   <div class="col-sm-3">
     <div class="btn-group float-sm-right">
      <button type="button" class="btn btn-outline-primary waves-effect waves-light"><i class="fa fa-cog mr-1"></i> Setting</button>
      <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown">
      <span class="caret"></span>
      </button>
      
    </div>
   </div>
   </div>
  <!-- End Breadcrumb-->

    <div class="row">
      <div class="col-lg-4">
         <div class="card profile-card-2">
          <div class="card-img-block">
              <img class="img-fluid" src="assets/images/gallery/35.jpg" alt="Card image cap">
          </div>
          <div class="card-body pt-5">
              <img src="assets/images/avatars/mypic.jpg" alt="profile-image" class="profile">
              <h5 class="card-title">Chitranjan</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="icon-block">
                  </div>
          </div>


      </div>

      </div>

      <div class="col-lg-8">
         <div class="card">
          <div class="card-body">
          <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
              <li class="nav-item">
                  <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
              </li>
              
              <li class="nav-item">
                  <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Edit</span></a>
              </li>
          </ul>
          <div class="tab-content p-3">
              <div class="tab-pane active" id="profile">
                  <div class="row">
                      <div class="col-md-6">
                          <h6>Name</h6>
                          <p>
                             Chitranjan Sharma
                          </p>
                          <h6>Email</h6>
                          <p>
                              chitranjan@condigence.com
                          </p>
                          <h6>Contact</h6>
                          <p>
                              99999999999
                          </p>
                          <h6>Role</h6>
                          <p>
                             Admin
                          </p>
                          <h6>Address</h6>
                          <p>
                              BTM Layout, Bangalore
                          </p>
                      </div>
                      
                      
                  </div>
                  <!--/row-->
              </div>
              
              <div class="tab-pane" id="edit">
                  <form>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Name</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="Chitranjan">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Email</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="email" value="chitranjan@condigence.com" readonly>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Phone</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="9999999999">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Change profile</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="file">
                          </div>
                      </div>
                      
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Address</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="" placeholder="BTM Layout">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label"></label>
                          <div class="col-lg-6">
                              <input class="form-control" type="text" value="" placeholder="Bangalore">
                          </div>
                          <div class="col-lg-3">
                              <input class="form-control" type="text" value="" placeholder="Karnataka">
                          </div>
                      </div>
                     
                      
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Password</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="password" value="11111122333">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="password" value="11111122333">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label"></label>
                          <div class="col-lg-9">
                             <input type="button" class="btn btn-primary" value="Save Changes">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
    </div>
      
  </div>

  </div>
  <!-- End container-fluid-->
 </div><!--End content-wrapper-->