<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                    <h5 class="form-header text-uppercase">
                    <i class="zmdi zmdi-view-list"></i>
                     Shop List
                  </h5>
                  <button [routerLink]="['/add-shop']" type="submit" class="btn btn-success">
                    <i class="zmdi zmdi-upload"></i> Add Shop
                  </button>
                  <form class="search-bar pull-right">
                        <input class="form-control" type="text" name="search"  (input)='Search()'   [(ngModel)]="SHOP_NAME" autocomplete="off"   placeholder="Search By Shop Name">
                         <a href="javascript:void();"></a>
                      </form>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                  <table id="example" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="hidden">S.N</th>
                            <th>SHOP NAME</th>
                            <th>SHOP TYPE</th>
                            <th>SHOP BRANCH</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shop of shops let i = index">
                            <td class="hidden">{{i + 1}}</td>
                            <td>{{shop.SHOP_NAME || 'N/A'}}</td>
                            <td>{{shop.SHOP_TYPE || 'N/A'}}</td>
                            <td>{{shop.SHOP_BRANCH || 'N/A'}}</td>
                            <td><a (click)="updateShop(shop)"  class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Edit" style="margin: 5px;"><i class="zmdi zmdi-edit"></i></a>
                              <a (click)="deleteShop(shop)" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="zmdi zmdi-delete"></i></a>
                            </td>
                          </tr>

                    </tbody>
                </table>
                </div>
                </div>
              </div>
            </div>
          </div><!-- End Row-->
    </div>
  </div>
